

body {
	background: #f6f6f6;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: black;
}

main {
	margin: auto;
	width: 90%;
	max-width: 800px;
}

.deco_div {
	position: relative;
	margin: auto;
	margin-top: -43px;
	width: 800px;
	text-align: right;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.p_nb_perso {
	margin: 0 2.5%;
	padding: 10px;
	background: #FFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.deco {
	margin-right: 2.5%;
	text-decoration: none;
}
.deco:hover {
	text-decoration: underline;
}

.img_float_left {
	float: left;
	font-size: 37px;
	margin-right: 10px;
    margin-top: -10px;
}

.clear_both {
	clear: both;
}

.message {
	margin: 2.5%;
	padding: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.Confirm {
	background: #bbffbb;
}
.Erreur {
	background: #ffbbbb;
}

.formConnexion {
	margin: 2.5%;
	padding: 0 30px;
	background: #FFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	text-align: center;
}

.column-layout {
	display: flex;
}
.div_block1, .div_block2 {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin: 2.5%;
	background: #FFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.div_block div, .div_block div {
	padding: 0;
	margin: 0;
}

.div_block1 {
	width: 30%;
}
.div_block2 {
	width: 65%;
}

.span_name {
	margin-top: 8px;
}

label {
	width: 120px;
}
input[type=text], select {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	
	margin-left: 50px;
	width: 200px;
	padding:5px 2px;
	font-family: 'Source Sans Pro', sans-serif;
}
input[type=submit], select {
	width: 200px;
	padding:5px 2px;
	font-family: 'Source Sans Pro', sans-serif;
}

.fa-exclamation-triangle, .deco {
	color: #dd0000;
	margin-right: 10px;
}
.deco {
	margin-right: 2.5%;
}
.fa-check-circle {
	color: green;
	margin-right: 10px;
}
.fa-hat-wizard {
	color: #aa00ff;
	transition: .5s all;
}
.fa-shield-alt {
	color: #0088dd;
	transition: .5s all;
}
.fa-fist-raised {
	color: #990000;
	transition: .5s all;
}
.fa-fire {
	color: #ffcc00;
	transition: .5s all;
}
.fa-gavel {
	color: #3333ff;
	transition: .5s all;
}
.fa-phoenix-framework {
	color: #ff8000;
	transition: .5s all;
}

.sante_max {
	position: relative;
	display: inline-block;
	top: 4px;
	width: 200px;
	height: 12px;
	border: 1px solid black;
	border-radius: 10px;
}
.sante_actu {
	position: relative;
	display: inline-block;
	height: 12px;
	background-color: red;
	border-radius: 10px;
}

.lien_frapper, .lien_ensorceler, .lien_bouleDeFeu, .lien_soigner {
	display: inline-block;
	width: 150px;
	/*padding: 5px;*/
	border: 1px solid #ddd;
	margin-top: 4px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: black;
	border-radius: 5px;
	transition: .5s all;
}
.lien_frapper:hover {
	background-color: #dd0000;
	color: white;
}
.lien_ensorceler:hover {
	background-color: #aa00ff;
	color: white;
}
.lien_frapper:hover > .fa-hat-wizard,
.lien_frapper:hover > .fa-shield-alt,
.lien_frapper:hover > .fa-fist-raised,
.lien_frapper:hover > .fa-fire,
.lien_frapper:hover > .fa-gavel,
.lien_frapper:hover > .fa-phoenix-framework {
	color: white;
}
.lien_bouleDeFeu:hover {
	background-color: #ffcc00;
	color: black;
}
.lien_soigner:hover {
	background-color: #3333ff;
	color: white;
}

.listCharacters {
	width: 100%;
}